<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <!-- Insert here the link to the CDN Vue package -->
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <title>Vue JS Demo Application</title>
</html>

<body>
<!-- Create a div tag with "app" ID -->
    <!-- VUE DEMO  -->
    <div id="app">
        <p>{{ title }} - {{ author }} - {{ age }}</p>
        <!-- Events on Vue using v-on -->
        <button v-on:click="age++">Get Older</button>
        <button v-on:click="age--">Get Younger</button>
        <button @click="title = 'The title has changed.'">Change Title</button>
    </div>
     <!-- this won't be controlled by Vue -->
     {{ age }}
    <hr>
    <!-- Two-way data binding -->
    <div id="two-way-binding">
    <p>{{ message }}</p>
    <input v-model="message" />
    </div>
    <hr>
    <!-- using v-if -->
    <div id="conditional-rendering">
        <span v-if="seen">Now you see me</span>
    </div>
    <hr>
    <!-- this is hooked up to a method in the books.js -->
    <div id="books">
        <div v-if="showBooks">
            <p>
                {{ btitle }} - {{ bauthor }} - {{ year }}
            </p> 
        </div>

        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>
    </div>
    <hr>
    <!-- using v-for directive -->
    <div id="list-rendering">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <script src="scripts/listfor.js"></script>
    <script src="scripts/books.js"></script>
    <script src="scripts/conditionalif.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/twoway.js"></script>
</body>
</html>